@import "~@blueprintjs/core/lib/scss/variables";

:local .addCardTriggerContainer {
  position: absolute;
  left: .75rem;
  transform: translateY(-50%);
  z-index: 4;

  .addCardTrigger {
    border-radius: 100% !important;
    transform: scale(0.6);

    &:hover {
      transform: scale(0.8);
    }
  }

  .addCardTriggerHighlighted {
    border-radius: .5rem !important;
    transform: scale(0.8);
    transform-origin: left center;
  }

  // Hack to preserve external class name
  :global .bp3-active {
    transform: scale(1) !important;
  }
}

:local .editableCard {
  -webkit-app-region: no-drag;

  border-radius: 0 !important;
  flex: 1;

  height: $pt-navbar-height;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;
  padding: 0 20px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:local .editableCardMinimal {
  height: $pt-navbar-height / 1.5;
  padding: 0 20px !important;
  background: none !important;
  box-shadow: none !important;
  font-size: 85%;
}

:local .editableCardDeletable {
  padding-right: $pt-navbar-height + 10px !important;

  .editableCardDeleteButton {
    height: $pt-navbar-height;
    width: $pt-navbar-height;

    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 .5em !important;

    filter: grayscale(100%);
    opacity: 0.4;

    &:hover {
      filter: none;
      opacity: 1;
    }
  }

  &.editableCardMinimal {
    padding-right: 20px !important;

    .editableCardDeleteButton {
      display: none;
      height: $pt-navbar-height / 1.5;
      width: $pt-navbar-height / 1.5;
    }

    &:hover {
      padding-right: ($pt-navbar-height / 1.5) + 10px !important;

      .editableCardDeleteButton {
        display: inherit;
        height: $pt-navbar-height / 1.5;
        width: $pt-navbar-height / 1.5;
      }
    }
  }
}

:local .editableCardExtended {
  height: unset;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

:local .editableCardSelected {
  background: $light-gray2 !important;
}
