@import "~@blueprintjs/core/lib/scss/variables";

@mixin card {
  border-radius: 0 !important;
  overflow: hidden;
}

:local .dataSyncBase {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

:local .dataSyncRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  > * {
    flex: 1;
  }
  > :not(:last-child) {
    margin-right: 1rem;
  }
}

:local .repoUrlCard {
  @include card;

  > :first-child {
    flex: 1;
  }
}

:local .repoConfigCollapsible {
  :global .bp3-collapse-body > * {
    background: $pt-app-background-color;
  }
}

:local .repoAuthCard, :local .committerInfoCard {
  @include card;
}

:local .committerInfoCard {
  flex: 1;

  > :first-child {
    color: $pt-text-color-muted;
  }
}

:local .windowAction {
  @include card;
  overflow: unset;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  :global .bp3-button {
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}

:local .resultCard {
  @include card;
  background: $pt-app-background-color !important;
}
